body {
font-family:Helvetica;
font-size: 22px;
color:seashell;
background-color: black;
opacity:0.9;
text-align: center;
}

h2, h3, h4{
  margin:0;
  padding: 10px;
  display: block;
}

header {
  position:fixed;
  background-color: black;
  width: 100%;
  height: 69px;
  z-index: 1;
  border-bottom: 1px solid seashell;

}
nav span {
  display:inline-block;
  padding: 10px 15px;
}
nav {
  text-align: right;
}

nav img {
  padding left: 10px;
  height: 50px;
  align-items: flex-start;
}

a {
  color: seashell;
  text-decoration: underline;
}

.location {
  background-color: black;
  opacity: 1;
  margin: 15px;
  flex-direction: row;
  justify-content: center;

}

#locations {
  margin: auto 20px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 400px;
}
#store {
  margin: auto;
  padding-top: 68px;
  width: 1000px;
  height: 700px;
  flex-flow: row wrap;
}
.item-box {
  display: flex;
  flex-flow:row wrap;
  padding: 5px 10px;
  width: 100%;
  justify-content: space-around;
}
#store .item-box img {
  display: inline-flex;
  width: 300px;
  height: 200px;
}
.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
  #mission {
  padding-top: 68px;
  height: 700px;
  background-image: url(./img/img-mission-background.jpg);

}
#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

#locations {
  padding-top: 68px;
  height: 500px;
  background-image: url(./img/img-locations-background.jpg);
}
#main {
  width: 1200px;
  margin: auto;
}
#contact {
  margin: auto;
  padding-bottom: 5px;
  width: 100%;
  height: 200px;
}

footer{
  text-align: left;
  margin-left: 20px;
  border-top: 1px solid seashell;
  width: 100%;
